body {
    background-color: black;
    }
.lide{
    background-color: yellow; 
    border-radius: 10px;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.lide img{
    width:500px;
    height: 550px;
    
}
