body {
    background-color: black;
    }
.lide{
    background-color: yellow; 
    border-radius: 10px;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.lide img{
    width:500px;
    height: 550px;
    
}
.detail-button{
    background-image: linear-gradient(to bottom, yellow 0%, orange 100%);
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
